<h4>Red-Black Tree</h4>
<p>is a binary tree with colored nodes. It has a constraint on occurance of nodes: (i) the root and leafs must be black, (ii) red nodes' children must be black, and (iii) the number of black nodes on the path from a node to every leaf must be constant.</p>
<h5>Production rules (indexed)</h5>
<pre>
l@@ rbtree($k,0,R) :- $k >= 0, $k =< 1 | leaf(R).
b@@ rbtree($k,$n,R) :-
  $m >= 0, $m = $n-1, $k >= 0, $k =< 1 |
  b(rbtree(1,$m),rbtree(1,$m),R).
r@@ rbtree(1,$n,R) :- $n >= 0 |
  r(rbtree(0,$n),rbtree(0,$n),R).
</pre>
<h5>Example: well-typed graphs</h5>
<pre>
b(S,leaf,R)
  : rbtree($k1,1,R) - rbtree(1,0,S) where $k1 = 0 or 1
b(S,r(leaf,leaf),R)
  : rbtree($k1,1,R) - rbtree(1,0,S) where $k1 = 0 or 1
b(A,B,R)
  : rbtree($k,$n,R) - rbtree(1,$m,A),rbtree(1,$m,B)
    where 0 =< $m = $n-1, $k = 0 or 1
</pre>
<h5>Example: well-typed rules</h5>
<pre>
b(S,leaf,R) :- b(S,r(leaf,leaf),R).
</pre>
because both sides are typed <code>rbtree($k1,1,R) - rbtree(1,0,S) where $k1 = 0 or 1</code>.
<pre>
b(A,B,R) :- b(B,A,R).
</pre>
because both sides are typed <code>rbtree($k,$n,R) - rbtree(1,$m,A),rbtree(1,$m,B) where 0 =< $m = $n-1, $k = 0 or 1</code>.
